# ==========================================
# Nexofood Frontend - Environment Variables
# ==========================================

# URL pública de la API Backend (Accesible tanto desde el cliente como desde el servidor)
NEXT_PUBLIC_API_URL=http://localhost:8080/api

# URL interna de la API Backend (Opcional: para comunicación directa Server-to-Server si se usa Docker / red interna)
API_INTERNAL_URL=http://localhost:8080/api
